.product-card{
    border: 1px solid #9e9c9c;
    padding: 20px;
    border-radius: 10px;
}
.product-card img{
    width: 100% !important;
    height: 200px  !important;
    object-fit: contain;
}
.details .cat{
    border: 1px solid green;
    padding: 5px 10px;
    border-radius: 5px;
}
.product-card a{
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
}